.navbar .nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
nav#primary {
  right: 10px;
}
.content{
  margin-bottom:200px;
}
.home-content{
  height:350px !important;
 .logo{
   width:50%;
   height:auto;
 }
}
.reviews-content .articles ul{
  height: 900px;
  width:100%;
  li{
    float:none;
    margin:10px auto;
  }
}