
nav#primary {
  right: 5px;
}
.content{
  margin-bottom:150px;
}
.home-content{
  height:200px;
  margin-bottom:0;
  .logo{
     width:90%;
     height:auto;
     //margin:0 auto;
  }
}
.services-content{

}