/*
MY STYLE
*/


//----------------GLOBAL
body{
  background:                       transparent url(img/global-bg-tile.png) repeat-x 0 0;
  margin:                           0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
label,
input,
li,
.datepicker-dropdown {
  //font-family:                      $fontFamilyBase;
  font-family: 'EB Garamond', serif;
  color:$brand_gray;
}
a:visited,
a:link,
a:hover
{
  text-decoration:none;
  color:$brand_gray;
}
em{
  text-emphasis-style:              none;
  font-style:                       normal;
}
ul{
  list-style-type:                  none;
  margin:                           0;
}
body{
  width:100%;
  height:100%;
}
.mortis{
  -webkit-transition: box-shadow 1s ease-in-out;
  -moz-transition: box-shadow 1s ease-in-out;
  -ms-transition: box-shadow 1s ease-in-out;
  -o-transition: box-shadow 1s ease-in-out;
  transition: box-shadow 1s ease-in-out;
  
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  @include tb_box-shadow($shadow);
  @include tb_border-top-radius($mortis-radius);
  @include tb_border-right-radius($mortis-radius);
  @include tb_border-bottom-radius($mortis-radius);
  @include tb_border-left-radius($mortis-radius);
  overflow:                         hidden;
}


table::-webkit-scrollbar {
  width: 10px;
}
table::-webkit-scrollbar-track {
  background:$transparent-fill;
}
table::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #98c933;
}

hr {
  display:                      block;
  position:                     relative;
  padding:                      0;
  height:                       0;
  clear:                        both;
  border:                       none;
  //background: transparent url(img/horiz-divline-411.png) no-repeat 0 0;
  margin:                       0 auto;
  border-top:                   1px solid #aaaaaa;
  border-bottom:                1px solid $white;
  @include opacity(40);
}


.ie8-background-fill{
  background: $transparent-fill;
}


.navbar .nav-container h3{

}





//-------------------------HOME

body{
  background-color:$brand_white;
  #container{
    padding-top:$navbarHeight;
  }
}
.content{
  min-height:500px;
  width:100%;
  display:block;
  padding:5%;
  .section-title{
    @include fontSize(70);
    //float:right;
    color:$grayLighter;
    position:relative;
    display:block;
    margin:0 auto 10px;
    line-height:1.3em;
    width:90%;
    text-align:center;
  }
}
.home-content{
  .logo{
    width:500px;
    height:294px;
    margin: 0 auto;
    display: block;
  }
}

.products-content{
  height:auto;
  .brands{
    display:block;
    width:100%;
    height:200px;
    ul li{
      margin:0 auto;

      img{
        height:auto;
        width:auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.services-content{
  width:100%;
  margin:100px auto;
  ul{
    display:block;
    margin:10px auto 10px;
    width:100%;
    li{
      margin:0 auto;
      text-align:center;
      h2{
        font-weight:600;
        margin:20px auto;
        line-height:2em;
      }
      h3{
        line-height:1em;

        sup{


          font-size:small;
          font-weight:200;
          vertical-align:super;
        }
      }
    }
  }
}
.reviews-content{
  width:100%;
  .articles{
    position:relative;
    display:block;
    margin:0 auto;
    ul{
      margin:0 auto;
      li{
        width:350px;
        height:auto;
        float:left;
        margin:10px;
        h4{
          text-align: center;
          color:$brand-orange;
          width:80%;
        }
        a{
          background:none;
          border:0;
          width:300px;
          img{
            width:300px;
            height:auto;
            border:1px solid $brand_gray;
          }
        }
      }
    }
  }
}
.about-content{
  margin:100px auto;
  width:100%;
  h4{
    padding:10px 30px;
    text-align:center;
    line-height:1em;
    color:$white;
    p{
      margin:25px;
    }
  }
}
.contact-content{
  margin:100px auto 200px;
  @include tb_center-block();
  width:auto;

  div{
    margin-top:10px;
    @include tb_center-block();
    h4, h3{
      text-align:center;
      line-height:1em;
      margin:20px;
      a{
        color:$brand_orange;
      }
    }
    img{
      margin:20px auto;
      @include tb_center-block();
    }
  }
}

footer{
  color:#666;
  position: relative;
  display:block;
  right:20px;
  width:100%;
  text-align:right;
}