/*
MY STYLE
*/


//----------------GLOBAL
body{
  background:                       transparent url(img/global-bg-tile.png) repeat-x 0 0;
  margin:                           0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
label,
input,
li,
.datepicker-dropdown {
  font-family:                      $fontFamilyBase;
}
a:visited,
a:link,
a:hover
{
  text-decoration:none;
  color:$brand_gray;
}
em{
  text-emphasis-style:              none;
  font-style:                       normal;
}
ul{
  list-style-type:                  none;
  margin:                           0;
}
.mortis{
  -webkit-transition: box-shadow 1s ease-in-out;
  -moz-transition: box-shadow 1s ease-in-out;
  -ms-transition: box-shadow 1s ease-in-out;
  -o-transition: box-shadow 1s ease-in-out;
  transition: box-shadow 1s ease-in-out;
  
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  @include tb_box-shadow($shadow);
  @include tb_border-top-radius($mortis-radius);
  @include tb_border-right-radius($mortis-radius);
  @include tb_border-bottom-radius($mortis-radius);
  @include tb_border-left-radius($mortis-radius);
  overflow:                         hidden;
}


table::-webkit-scrollbar {
  width: 10px;
}
table::-webkit-scrollbar-track {
  background:$transparent-fill;
}
table::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #98c933;
}

hr {
  display:                      block;
  position:                     relative;
  padding:                      0;
  height:                       0;
  clear:                        both;
  border:                       none;
  //background: transparent url(img/horiz-divline-411.png) no-repeat 0 0;
  margin:                       0 auto;
  border-top:                   1px solid #aaaaaa;
  border-bottom:                1px solid $white;
  @include opacity(40);
}


.ie8-background-fill{
  background: $transparent-fill;
}








//-------------------------HOME

body{
  background-color:$brand_white;
  #container{
    padding-top:$navbarHeight;
  }
}

.home-content{
  .logo{
    width:500px;
    height:294px;
    //margin-top:10px;
  }
}