/*
MY STYLE
*/


//----------------GLOBAL
body{
  background:                       transparent url(img/global-bg-tile.png) repeat-x 0 0;
  margin:                           0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
label,
input,
li,
.datepicker-dropdown {
  //font-family:                      $fontFamilyBase;
  font-family: 'EB Garamond', serif;
  color:$brand_gray;
}
a:visited,
a:link,
a:hover
{
  text-decoration:none;
  color:$brand_gray;
}
em{
  text-emphasis-style:              none;
  font-style:                       normal;
}
ul{
  list-style-type:                  none;
  margin:                           0;
}
body{
  width:100%;
  height:100%;
  //background: transparent url('../img/trees_sky.jpg') repeat-y 0 0;
}
.mortis{
  -webkit-transition: box-shadow 1s ease-in-out;
  -moz-transition: box-shadow 1s ease-in-out;
  -ms-transition: box-shadow 1s ease-in-out;
  -o-transition: box-shadow 1s ease-in-out;
  transition: box-shadow 1s ease-in-out;
  
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  @include tb_box-shadow($shadow);
  @include tb_border-top-radius($mortis-radius);
  @include tb_border-right-radius($mortis-radius);
  @include tb_border-bottom-radius($mortis-radius);
  @include tb_border-left-radius($mortis-radius);
  overflow:                         hidden;
}


table::-webkit-scrollbar {
  width: 10px;
}
table::-webkit-scrollbar-track {
  background:$transparent-fill;
}
table::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #98c933;
}

hr {
  display:                      block;
  position:                     relative;
  padding:                      0;
  height:                       0;
  clear:                        both;
  border:                       none;
  //background: transparent url(img/horiz-divline-411.png) no-repeat 0 0;
  margin:                       0 auto;
  border-top:                   1px solid $brand_gray;
  border-bottom:                1px solid $white;
  @include opacity(40);
}


.ie8-background-fill{
  background: $transparent-fill;
}


html {
 overflow-y: scroll; /* always force a scrollbar in non-IE */
}

.navbar{
  @include tb_box-shadow($div-shadow);
  padding: 0px 15px;
  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav{
    margin:0 0 0 0;
    > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}


//--------------------------------------------SCROLL NAVS

nav#primary {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 15px;
  margin-top: -40px;
  li {
    position: relative;
    height: 20px;
  }
  a {
    width:auto;
    em{
      display: block;
      width: 20px;
      height: 20px;
      text-indent: -9999px;
      background: transparent url(img/nav-dot.png) 4px 4px no-repeat;
    }
    h1 {
      position: absolute;
      font-size: 18px;
      right: 22px;
      top: -34px;
      display: none;
      padding: 4px 20px 4px 7px;;
      color: $brand_white;
      white-space: nowrap;
      background: transparent url(img/nav-arrow.png) 100% 50% no-repeat;
    }
    h1:hover{
      display:block;
    }
  }
  a:hover,
  a.active {
    background: transparent url(img/nav-dot.png) 4px -16px no-repeat;
  }
  a:hover{
    h1{
      display:block;
    }
  }

}

nav.next-prev {
  margin: 20px 0 0 0;
  a.prev,
  a.next {
    display: block;
    width: 15px;
    height: 11px;
    text-indent: -9999px;
  }
  a.prev {
    margin: 0 auto 5px auto;
    background: transparent url(img/scroll-arrow-up.png) 0 0 no-repeat;
  }
  a.prev:hover {
    background: transparent url(img/scroll-arrow-up.png) 0 -11px no-repeat;
  }
  a.next {
    margin: 5px auto 0 auto;
    background: transparent url(img/scroll-arrow-down.png) -1px 0 no-repeat;
  }
  a.next:hover {
    background: transparent url(img/scroll-arrow-down.png) -1px -11px no-repeat;
  }
}

//=--------------------------BG1

#background{
  position:absolute;
  width:100%;
  z-index:2;
  ul.slides{
    margin-top:$navbarHeight;
    li{
      //margin-bottom:30%;
      img{
        width:100%;
      }
    }
  }
}


//-------------------------HOME


#container{
  padding-top:$navbarHeight;
  position:absolute;
  z-index:3;
}

.content{
  min-height:500px;
  width:100%;
  display:block;
  padding:5%;
  //background: transparent url(img/transparent-fill.png) repeat 0 0;
  //background-color:rgba(255,255,255,.8);
  background-color:$brand_white;
  position:relative;
  margin-bottom:400px;
  @include tb_box-shadow($div-shadow);
  .section-title{
    @include fontSize(70);
    //float:right;
    color:$grayLighter;
    position:relative;
    display:block;
    margin:0 auto 35px;
    line-height:0.8em;
    width:90%;
    text-align:center;
  }
}
.home-content{
  background:transparent;
  height:500px;
  margin-bottom:0 !important;
  min-height:0;
  .logo{
    width:400px;
    height:194px;
    display: block;
    position:absolute;
    right:5px;
    bottom:0;
  }
}

.products-content{
  height:auto;
  width:100%;
  .brands{
    display:block;
    width:100%;
    height:auto;
    ul li{
      margin:0 auto 30px;
      img{
        height:auto;
        width:auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.services-content{
  width:100%;

  ul{
    display:block;
    margin:10px auto 10px;
    width:100%;
    li{
      margin:0 auto;
      text-align:center;
      h2{
        font-weight:600;
        margin:20px auto;
        line-height:2em;
      }
      h3{
        line-height:1em;

        sup{


          font-size:small;
          font-weight:200;
          vertical-align:super;
        }
      }
    }
  }
}
.reviews-content{
  width:100%;
  .articles,
  flyers{
    position:relative;
    display:block;
    margin:0 auto 20px;

  }
  ul{
    margin:0 auto;
    height: 450px;
    li{
      width: 350px;
      height: 450px;
      float: left;
      margin: 10px;
      border: $brand_ltgray 2px solid;
      @include tb_border-radius(6px);
      h4{
        text-align: center;
        color:$brand-orange;
        width:80%;
        margin:20px auto;
      }
      a{
        display:block;
        margin: 0 auto;
        background:none;
        border:0;
        width:300px;
        height:350px;
        margin-left: 15px;
        overflow:hidden;
        img{
          margin:0 auto;
          width:300px;
          height:auto;
          border:1px solid $brand_gray;

        }
      }
    }
  }

}
.about-content{
  width:100%;
  h4{
    padding:10px 30px;
    text-align:center;
    line-height:1em;
    color:$white;
    p{
      margin:25px;
    }
  }
}
.contact-content{
  @include tb_center-block();
  width:auto;

  div{
    margin-top:10px;
    @include tb_center-block();
    h4, h3{
      text-align:center;
      line-height:1em;
      margin:20px;
      a{
        color:$brand_orange;
      }
    }
    img{
      margin:20px auto;
      @include tb_center-block();
    }
  }
}

footer{
  color:#666;
  position: relative;
  display:block;
  right:20px;
  width:100%;
  text-align:right;
}